<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Lxd社区</title>
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8"/>
    <!--    引入标签 css可直接从目录中拖过来-->
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="/css/community.css">

    <!--    先引入jquery再引入js-->
    <script src="/js/jquery-3.4.1.min.js"></script>
    <script src="/js/bootstrap.min.js" type="application/javascript"></script>
</head>
<body>
<div th:insert="~{navigation :: nav}"></div>
<div class="jumbotron">
            <h1>出错啦！！</h1>
            <p th:text="${message}">服务太热啦！要不然稍等下再来试试</p>
            <p><a class="btn btn-primary btn-lg" href="/" role="button">回到主页</a></p>
</div>
</body>
</html>